# This file is used to specify the dependencies for the project.
#numpy>=1.26.0
#scipy>=1.11.0 
#tensorflow>=2.13.0 
numpy>=2.0.0
setuptools>=68.0.0
scipy>=1.13.0 
scikit-learn>=1.0.0
tensorflow>=2.16.0  # Newest stable version
flask==2.3.2
pandas
gunicorn==20.1.0

# other dependencies...