# This file is used to specify the dependencies for the project.
#numpy>=1.26.0
#scipy>=1.11.0 
#tensorflow>=2.13.0 
numpy==1.23.5  # Known stable version
scipy==1.10.1  # Version with available wheels
tensorflow==2.12.0
flask==2.3.2
pandas
gunicorn==20.1.0
# other dependencies...